<!-- Social Share Button HTML -->

<!-- Twitter -->
<li><a href="//twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&via={{ .Site.Social.twitter }}" target="_blank" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
    <p>Twitter</p>
</a></li>

<!-- Google Plus -->
<li><a href="//plus.google.com/share?url={{ .Permalink }}" target="_blank" class="share-btn google-plus">
    <i class="fa fa-google-plus"></i>
    <p>Google+</p>
</a></li>

<!-- Facebook -->
<li><a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="share-btn facebook">
    <i class="fa fa-facebook"></i>
    <p>Facebook</p>
</a></li>

<!-- Reddit (url, title) -->
<li><a href="//reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" class="share-btn reddit">
    <i class="fa fa-reddit-alien"></i>
    <p>Reddit</p>
</a></li>

<!-- <!&#45;&#45; LinkedIn &#45;&#45;> -->
<!-- <li><a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&#38;title={{ .Title }}" target="_blank" class="share&#45;btn linkedin"> -->
<!--     <i class="fa fa&#45;linkedin"></i> -->
<!--     <p>LinkedIn</p> -->
<!-- </a></li> -->
<!--  -->
<!-- <!&#45;&#45; StumbleUpon (url, title) &#45;&#45;> -->
<!-- <li><a href="//www.stumbleupon.com/submit?url={{ .Permalink }}&#38;title={{ .Title }}" target="_blank" class="share&#45;btn stumbleupon"> -->
<!--     <i class="fa fa&#45;stumbleupon"></i> -->
<!--     <p>StumbleUpon</p> -->
<!-- </a></li> -->

<!-- Email -->
<!-- <li><a href="mailto:?subject=Check out this post by {{ .Params.author }}&#38;body={{ .Permalink }}" target="_blank" class="share&#45;btn email"> -->
<!--     <i class="fa fa&#45;envelope"></i> -->
<!--     <p>Email</p> -->
<!-- </a></li> -->
