@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 100%;
  }
}

/* Code block font size adjustment */
.post-content code,
.post-content pre code,
.post-content .highlight code,
.post-content .highlighttable code {
    font-size: 1.1em !important;
}

/* Inline code font size */
.post-content p code,
.post-content li code,
.post-content td code {
    font-size: 1.1em !important;
}
