{{- $base := resources.Get "images/social-card-base.jpg" -}}

{{- if .IsPage -}}
  {{- $images := partial "templates/_funcs/get-page-images" . -}}
  {{- with index $images 0 -}}
    {{- with .Image -}}
      {{- if reflect.IsImageResourceProcessable . -}}
        {{- $base = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if not $base -}}
  {{- "" -}}
{{- else -}}
  {{- $font := resources.Get "fonts/YuGothic-Bold.otf" -}}
  {{- $titleText := partial "templates/_funcs/wrap-social-title" .Title | strings.TrimSpace -}}
  {{- $rawTitle := partial "templates/_funcs/wrap-social-title" .Title | strings.TrimSpace -}}
  {{- $titleSize := 88 -}}
  {{- if gt (len $rawTitle) 32 -}}
    {{- $titleSize = 78 -}}
  {{- end -}}
  {{- if gt (len $rawTitle) 48 -}}
    {{- $titleSize = 68 -}}
  {{- end -}}

  {{- $card := $base.Filter
    images.AutoOrient
    (images.Process "fill 1200x630 center jpg q90")
    (images.Brightness -42)
    (images.Contrast -12)
    (images.Saturation -10)
  -}}

  {{- $titleOpts := dict
    "alignx" "left"
    "aligny" "top"
    "color" "#ffffff"
    "font" $font
    "linespacing" (div $titleSize 5)
    "size" $titleSize
    "x" 72
    "y" 76
  -}}

  {{- $social := $card.Filter
    (images.Text $titleText $titleOpts)
  -}}

  {{- $social.RelPermalink -}}
{{- end -}}
