{{- $title := . | plainify | htmlUnescape | strings.TrimSpace -}}
{{- $title = replaceRE `\\n` " " $title -}}
{{- $title = replaceRE `[\p{So}\p{Sk}]` "" $title -}}
{{- $title = replaceRE `\s+` " " $title -}}
{{- $title = strings.TrimSpace $title -}}
{{- if and (gt (len (findRE `[\p{Han}\p{Hiragana}\p{Katakana}]` $title)) 0) (gt (len (findRE `\s` $title)) 0) -}}
  {{- $title = replaceRE `\s+` "" $title -}}
{{- end -}}

{{- $parts := split $title " " -}}
{{- if le (len $parts) 1 -}}
  {{- if gt (len $title) 14 -}}
    {{- $chunks := findRE `.{1,14}` $title -}}
    {{- delimit $chunks "\n" -}}
  {{- else -}}
    {{- $title -}}
  {{- end -}}
{{- else -}}
  {{- $best := 0 -}}
  {{- $bestScore := 9999 -}}
  {{- range $i, $_ := first (sub (len $parts) 1) $parts -}}
    {{- $left := delimit (first (add $i 1) $parts) " " -}}
    {{- $right := delimit (after (add $i 1) $parts) " " -}}
    {{- $score := math.Abs (sub (len $left) (len $right)) -}}
    {{- if and (ge (len $left) 10) (ge (len $right) 10) (lt $score $bestScore) -}}
      {{- $best = $i -}}
      {{- $bestScore = $score -}}
    {{- end -}}
  {{- end -}}
  {{- if eq $bestScore 9999 -}}
    {{- $title -}}
  {{- else -}}
    {{- $left := delimit (first (add $best 1) $parts) " " -}}
    {{- $right := delimit (after (add $best 1) $parts) " " -}}
    {{- printf "%s\n%s" $left $right -}}
  {{- end -}}
{{- end -}}
