{{- with partial "templates/_funcs/get-og-image" . }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ . }}">
<meta name="twitter:image:alt" content="{{ $.Title }}">
{{- else }}
<meta name="twitter:card" content="summary">
{{- end }}
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $twitterSite = . }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if not $twitterSite }}
  {{- range site.Params.socialIcons }}
    {{- if and (not $twitterSite) (or (eq .name "twitter") (eq .name "x")) }}
      {{- $twitterSite = replaceRE `^https?://(www\.)?(x|twitter)\.com/@?` "" .url -}}
      {{- $twitterSite = replaceRE `[/?#].*$` "" $twitterSite -}}
    {{- end }}
  {{- end }}
{{- end }}
{{- with $twitterSite }}
  {{- $content := . }}
  {{- if not (strings.HasPrefix $content "@") }}
    {{- $content = printf "@%v" $content }}
  {{- end }}
  <meta name="twitter:site" content="{{ $content }}">
  <meta name="twitter:creator" content="{{ $content }}">
{{- end }}
